<%- include('partials/header.ejs'); %>

        <h1 class="Cadastro">Cadastro de Usuário <span class="Prod">Prod</span><span class="Market">Market</span></h1>
        <hr>

        <form action="/cadastro_usuario" method="POST">

            <div class="form-group col-md-12">
                <div class="form-check">
                    <input type="checkbox" id="checkComprar" name="checkComprar" value="Comprar">
                    <label for="checkComprar"> Comprar</label> <br>
                    
                    <input type="checkbox" id="checkVender" name="checkVender" value="Vender">
                    <label for="checkVender"> Vender</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome Empresarial</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputAddress2">Titulo do Estabelecimento (Nome de Fantasia) </label>
                    <input type="text" class="form-control" id="inputAddress2" name="nome_fantasia" placeholder="Nome de Fantasia">
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">CNPJ</label>
                    <input type="text" class="form-control" id="inputEmail4" name="cnpj" placeholder="Digite o CNPJ">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputPassword4">Ramo de Atividade</label>
                    <input type="text" class="form-control" id="inputPassword4" name="ramo" placeholder="Atividade Empresarial">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Código e Descição da Atividade Econômica Principal</label>
                    <input type="text" class="form-control" id="inputAddress" name="codigo_ap" placeholder="Atividade Principal">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputAddress2">Código e Descição da Atividade Econômica Secundária</label>
                    <input type="text" class="form-control" id="inputAddress2" name="codigo_as" placeholder="Atividade Secundária">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress2">Codigo e Descição da Natureza Jurídica</label>
                    <input type="text" class="form-control" id="inputAddress2" name="codigo_natureza" placeholder="Natureza Jurídica">
                </div>

                <div class="form-group col-md-4">
                    <label for="inputAddress">Nome do Responsável</label>
                    <input type="text" class="form-control" name="responsavel" placeholder="Insira seu nome">
                </div>

                <div class="form-group col-md-2">
                    <label for="inputAddress">Telefone</label>
                    <input type="text" class="form-control" id="inputAddress" name="telefone" placeholder="99999-9999">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="">Informe o CEP</label>
                    <input type="text" class="form-control" name="cep" placeholder="CEP">
                </div>

                <div class="form-group col-md-2">
                    <label for="input" class="col-sm-2 control-label">Estado</label>
                    <div class="col-auto">
                        <select name="" id="input" class="form-control">

                            <option value="ac">Acre</option>
                            <option value="al">Alagoas</option>
                            <option value="am">Amazonas</option>
                            <option value="ap">Amapá</option>
                            <option value="ba">Bahia</option>
                            <option value="ce">Ceará</option>
                            <option value="df">Distrito Federal</option>
                            <option value="es">Espírito Santo</option>
                            <option value="go">Goiás</option>
                            <option value="ma">Maranhão</option>
                            <option value="mt">Mato Grosso</option>
                            <option value="ms">Mato Grosso do Sul</option>
                            <option value="mg">Minas Gerais</option>
                            <option value="pa">Pará</option>
                            <option value="pb">Paraíba</option>
                            <option value="pr">Paraná</option>
                            <option value="pe">Pernambuco</option>
                            <option value="pi">Piauí</option>
                            <option value="rj">Rio de Janeiro</option>
                            <option value="rn">Rio Grande do Norte</option>
                            <option value="ro">Rondônia</option>
                            <option value="rs">Rio Grande do Sul</option>
                            <option value="rr">Roraima</option>
                            <option value="sc">Santa Catarina</option>
                            <option value="se">Sergipe</option>
                            <option value="sp">São Paulo</option>
                            <option value="to">Tocantins</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="input">Lograduro</label>
                    <input type="text" class="form-control" name="estado" placeholder="Digite o Endereço">
                </div>

                <div class="form-group col-md-2">
                    <label for="input">Complemento</label>
                    <input type="text" class="form-control" name="complemento" placeholder="Número / Bloco">
                </div>


            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>

        </form>

        <%- include('partials/footer.ejs'); %>