<%- include('partials/header.ejs'); %>

        <div class="heading tituloProdutor">
          <h1>Titulo Categoria</h1>
        </div>
        <hr class="middle" />





         <!-- fim cards -->
         <%- include('partials/footer.ejs'); %>