<%- include('partials/header.ejs'); %>

<main>
    <container class="container-contato">
        <div class="row">
            <div class="imgContato col-7">
                <div class="box">
                    <img src="images/img/imgcontato.jpg" alt="entre em contato">
                </div>
            </div>
            <div class="form-contato col-4">
                <form action="#" method="POST">
                    <h2><strong> Preencha os campos para entrar em contato conosco!</strong></h2>

                    <input class="input-contato" type="text" name="nome" placeholder="Digite seu Nome"></input><br>
                    
                    <input class="input-contato" type="text" name="email" placeholder="Digite seu E-mail"></input>

                    <textarea class="input-contato" cols="35" rows="5" name="comments" placeholder="Digite sua Mensagem"></textarea>

                    <button>Enviar</button>
                </form>
            </div>
        </div>
        </conteiner>
</main>

<%- include('partials/footer.ejs'); %>


<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html> -->