<!DOCTYPE html>
<html lang="pt-br">
<<<<<<< HEAD
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/home.css" />
=======

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/home.css">
>>>>>>> fe42a376c07ae2b34f923a446a08eca7f6801d23
    <title>ProdMarket-Home</title>
  </head>

<<<<<<< HEAD
  <body>
    <div class="container">
      <header>

      </header>
      <main>
        <!-- inicio menu lateral, banner e cards -->
        <div class="row">
          <!-- inicio menu lateral -->
          <div class="col-md-3 menuLateral">
            <div class="categoria">
              <div>
                <h1>Categorias</h1>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#"><img src="img/icon/ico-aves.svg" /> Aves </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-bovinos.svg" /> Bovinos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-caprinos.svg" /> Caprinos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-cereais.svg" /> Cereais
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-cogumelos.svg" /> Cogumelos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-especiarias.svg" /> Especiarias
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-frutas.svg" /> Frutas
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-frutos-do-mar.svg" /> Frutos do
                      Mar</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="#"><img src="img/icon/ico-graos.svg" /> Grãos </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-hortalicas.svg" /> Hortalicias
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-legumes.svg" /> Legumes
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-leites-e-derivados.svg" /> Leites
                      e Derivados
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"><img src="img/icon/ico-mel.svg" /> Mel </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-oleos-e-azeites.svg" /> Oleos e
                      Azeites
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-peixes.svg" /> Peixes
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-suinos.svg" /> Suinos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#"
                      ><img src="img/icon/ico-raizes.svg" /> Raizes
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- fim menu lateral -->
          <!-- inicio conteudo -->
          <div class="col-md-9">
            <!-- inicio banner -->
            <div id="banner-institucional" class="carousel slide" data-ride="carousel" data-interval="5000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="img/banner-home01.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="img/banner-home02.jpg" alt="Second slide">
=======
<body>


    <header>
        <!-- inicia menu cabeçalho  -->
        <div class="row">
            <div class="col-md-12">

                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"><img src="/images/img/logo-prod_market.png" class="logoMenu"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Parceiros<span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ajuda
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Segurança e Privacidade</a>
                                    <a class="dropdown-item" href="#">Termos e Garantia</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">FAQ</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='/sobrenos'>Sobre-Nós</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contato">Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Procurar"
                                aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <!-- fim menu cabeçalho -->
    </header>

    <div class="container">

        <main>
            <!-- inicio menu lateral, banner e cards -->
            <div class="row">
                <!-- inicio menu lateral -->
                <div class="col-md-3 menuLateral">
                    <div class="categoria">
                        <div>
                            <h1>

                                Categorias
                            </h1>
                            <ul class="nav flex-column">
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-aves.svg"> Aves </a>
                                </li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-bovinos.svg"> Bovinos
                                    </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-caprinos.svg"> Caprinos
                                    </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-cereais.svg"> Cereais
                                    </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-cogumelos.svg">
                                        Cogumelos </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-especiarias.svg">
                                        Especiarias </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-frutas.svg"> Frutas </a>
                                </li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-frutos-do-mar.svg">
                                        Frutos do Mar</a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-graos.svg"> Grãos </a>
                                </li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-hortalicas.svg">
                                        Hortalicias </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-legumes.svg"> Legumes
                                    </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-leites-e-derivados.svg">
                                        Leites e Derivados </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-mel.svg"> Mel </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-oleos-e-azeites.svg">
                                        Oleos e Azeites </a></li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-peixes.svg"> Peixes </a>
                                </li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-suinos.svg"> Suinos </a>
                                </li>
                                <li class="nav-item"><a href="#"><img src="/images/img/icon/ico-raizes.svg"> Raizes </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- fim menu lateral -->
                <!-- inicio conteudo -->
                <div class="col-md-9">
                    <!-- inicio banner -->
                    <div class="row">
                        <div class="banner">
                            <img src="/images/img/banner-home02.jpg" class="banner" alt="">
                        </div>
                    </div>
                    <!-- fim banner -->
                    <!-- inicio cards -->
                    <div class="row">
                        <div class="cartao">
                            <!-- card-1 -->
                            <div class="card" style="width: 11rem;">
                                <img src="/images/img/laranja.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title">Produtor 1</h2>
                                    <a href="#" class="btn">Saiba mais</a>
                                </div>
                            </div>
                            <!-- card-2 -->
                            <div class="card" style="width: 11rem;">
                                <img src="/images/img/tomate.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title">Produtor 2</h2>
                                    <a href="#" class="btn">Saiba mais</a>
                                </div>
                            </div>
                            <!-- card-3 -->
                            <div class="card" style="width: 11rem;">
                                <img src="/images/img/peixe.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title">Produto 3</h2>
                                    <a href="#" class="btn">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fim cards -->
>>>>>>> fe42a376c07ae2b34f923a446a08eca7f6801d23
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="img/banner-home03.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="img/banner-home04.jpg" alt="Fourth slide">
                </div>
              </div>
            </div>
<<<<<<< HEAD
            <!-- fim banner -->
            <!-- inicio cards -->
            <div class="row">
              <div class="cartao">
                <!-- card-1 -->
                <div class="card-produtor" style="width: 11rem">
                  <img
                    src="img/produtor-1.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h2 class="card-title">Fazenda Novo Horizonte</h2>
                    <a href="#" class="btn">Saiba mais</a>
                  </div>
                </div>
                <!-- card-2 -->
                <div class="card-produtor" style="width: 11rem">
                  <img
                    src="img/produtor-2.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h2 class="card-title">Chacara Sol Nascente</h2>
                    <a href="#" class="btn">Saiba mais</a>
                  </div>
                </div>
                <!-- card-3 -->
                <div class="card-produtor" style="width: 11rem">
                  <img
                    src="img/produtor-3.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h2 class="card-title">Fazenda Nova Gaia</h2>
                    <a href="#" class="btn">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
            <p class="mais-produtores"><a href="#">Mais Produtores</a></p>
            <!-- fim cards -->
          </div>
          <!-- fim conteudo -->
        </div>
        <!-- fim menu lateral, banner e cards -->
        <!-- inicio vitrine -->
        <hr class="middle" />

        <strong>Frutas</strong>

        <select class="filter">
          <option>A-Z</option>
          <option>Z-A</option>
          <option>Menor Preço</option>
          <option>Maior Preço</option>
        </select>
=======
            <!-- fim menu lateral, banner e cards -->
            <!-- inicio vitrine -->

            <br>

            <h2 class="legumes_fresquinhos">Legumes Fresquinhos
                <!--  <a href="#"></a>-->
            </h2>
            <h3 class="chacara_akira">Chacara Akira
                <!-- <a href="#"></a>-->
            </h3>
            <div class="vitrine_primeira">
                <div class="row">

                    <div class="vitrine1 col-sm-4"><img src="/images/img/alface.jpg" class="imgGrand"></div>

                    <div class="vitrine2 col-sm-4">
                        <div class="row">
                            <img src="/images/img/couve.jpg" class="imgPeq">
                            <img src="/images/img/hortela.jpg" class="imgPeq">
                        </div>
                        <div class="row">
                            <img src="/images/img/cebolinha.jpg" class="imgPeq">
                            <img src="/images/img/brocolis.jpg" class="imgPeq">
                        </div>
                    </div>
                    <div class="vitrine3 col-sm-4"><img src="/images/img/repolho.jpg" class="imgGrand"></div>
                </div>
            </div>
            <h2 class="os_melhores_graos">Os Melhores Grãos
                <!-- <a href="#"></a>-->
                </h4>
                <h3 class="fazenda_novo_horizonte">Fazenda Novo Horizonte
                    <!-- <a href="#"></a>-->
                    </h5>
                    <div class="vitrine_segunda">
                        <div class="row">

                            <div class="vitrine1 col-sm-4"><img src="/images/img/cafВ-arabico.jpg" class="imgGrand">
                            </div>
                            <div class="vitrine3 col-sm-4"><img src="/images/img/castanha-caju.jpg" class="imgGrand">
                            </div>
                            <div class="vitrine2 col-sm-4">
                                <div class="row">
                                    <img src="/images/img/amendoim.jpg" class="imgPeq">
                                    <img src="/images/img/milho.jpg" class="imgPeq">
                                </div>
                                <div class="row">
                                    <img src="/images/img/soja.jpg" class="imgPeq">
                                    <img src="/images/img/feijao.jpg" class="imgPeq">
                                </div>
                            </div>


                        </div>
                    </div>


                    <!-- fim vitrine -->
        </main>

>>>>>>> fe42a376c07ae2b34f923a446a08eca7f6801d23

        <p class="filter">Ordenar por:</p>

        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="img/banana.jpg" alt="produto-1" />
            <div class="card-body">
              <p>Banana Prata</p>
              <hr />
              <p>CX 10kg</p>
              <hr />
              <p><strong>R$ 30,00 a CX</strong></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/caqui.jpg" alt="produto-2" />
            <div class="card-body">
              <p>Caqui Chocolate</p>
              <hr />
              <p>CX 15kg</p>
              <hr />
              <p><strong>R$ 40,00 a CX</strong></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/goiaba.jpg" alt="produto-3" />
            <div class="card-body">
              <p>Goiaba Vermelha</p>
              <hr />
              <p>CX 15kg</p>
              <hr />
              <p><strong>R$ 30,00 a CX</strong></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/laranja.jpg" alt="produto-4" />
            <div class="card-body">
              <p>Laranja Peras</p>
              <hr />
              <p>CX 15kg</p>
              <hr />
              <p><strong>R$ 25,00 a CX</strong></p>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="img/limao.jpg" alt="produto-1" />
            <div class="card-body">
              <p>Limão Tahiti</p>
              <hr />
              <p>CX 15kg</p>
              <hr />
              <p><strong>R$ 25,00 a CX</strong></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/maca.jpg" alt="produto-2" />
            <div class="card-body">
              <p>Maçã Argentina</p>
              <hr />
              <p>CX 10kg</p>
              <hr />
              <p><strong>R$ 32,00 a CX</strong></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/mexirica.jpg" alt="produto-3" />
            <div class="card-body">
              <p>Mexirica Poucan</p>
              <hr />
              <p>CX 15kg</p>
              <hr />
              <p><strong>R$ 22,00 a CX</strong></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/uva.jpg" alt="produto-4" />
            <div class="card-body">
              <p>Uva Rosa</p>
              <hr />
              <p>CX 15kg</p>
              <hr />
              <p><strong>R$ 55,00 a CX</strong></p>
            </div>
          </div>
        </div>
      </main>
      <footer>  
      </footer>
    </div>
    <footer>
        <%- include('partials/rodape.ejs'); %>
    </footer>

<<<<<<< HEAD
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
=======
    <script src="/stylesheets/js/jquery.js"></script>
    <script src="/stylesheets/js/bootstrap.min.js"></script>
</body>

</html>
>>>>>>> fe42a376c07ae2b34f923a446a08eca7f6801d23
