<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <title>Login</title>

</head>

<body>
    <header>

        <div class="menu">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" href="home.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ajuda</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="sobrenos.html">Sobre nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contato.html">Contato</a>
                </li>
              </ul>
        </div>

    </header>
    <main>
        <container>
            <div class="row">
                <div class="imgLogin col-7" >
                    <div class="box">
                        <img src="/images/img/imglogin.png" alt="farm with logo ProdMarket">
                    </div>
                </div>
                <div class="formLogin col-4">
                    <form action="#" method="POST">
                        <H2>Login</H2>
                        <input type="text" name="cnpj" placeholder="CNPJ"><br><br>
                        <input type="password" name="password" placeholder="Senha"><br><br>
                        <input type="checkbox" name="remember"><Label for="remember">-Lembrar-me</Label><br>
                        <a href="cadastro.html"><span>Registre-se</span></a><br><br>
                        <button>Acessar</button>
                    </form>
                </div>
            </div>
        </conteiner>
    </main>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>