<%- include('partials/header.ejs'); %>

<main>
    <container>
        <div class="row">
            <div class="imgLogin col-7">
                <div class="box">
                    <img src="/images/img/imglogin.png" alt="farm with logo ProdMarket">
                </div>
            </div>
            <div class="formLogin col-4">
                <form action="#" method="POST">
                    <H2>Login</H2>
                    <input type="text" name="cnpj" placeholder="CNPJ"><br><br>
                    <input type="password" name="password" placeholder="Senha"><br><br>
                    <input type="checkbox" name="remember"><Label for="remember">-Lembrar-me</Label><br>
                    <a href="cadastro.html"><span>Registre-se</span></a><br><br>
                    <button>Acessar</button>
                </form>
            </div>
        </div>
        </conteiner>
</main>

<%- include('partials/footer.ejs'); %>