
        <%- include('partials/header.ejs'); %>

    <div class="container">
        <h1>Parceiros</h1>
          <hr class="middle" /> 
    <div class="parceiros">
        
        <div class="column-fornecedores">
            <h4>FORNECEDORES</h4>
            <p>Fazenda Novo Horizonte</p>
            <p>Chacara Sol Nascente</p>
            <p>Cooperativa Capivari</p>
            <p>Fazenda Agua Santa</p>
        </div>
    
        <div class="column-transportadora">
            <h5>TRANSPORTADORAS</h5>
            <p>AMG Transportes</p>
            <p>Venetto Transportes</p>
            <p>Marcio Fretes</p>
            <p>Transportadora Dois Irmãos</p>
        </div>
    </div>

     </div>
    
        </main>
     
        <%- include('partials/footer.ejs'); %>