<%- include('partials/cabecalho.ejs'); %>

        <div class="heading tituloProdutor">
          <h1>Produtores</h1>
        </div>
        <hr class="middle" />
        <!-- inicio cards -->
        <div class="row">
          <div class="cartao">
            <!-- card-1 -->
            <div class="card-produtor" style="width: 11rem">
              <img
                src="/images/img/produtor-1.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h2 class="card-title">Fazenda Novo Horizonte</h2>
                <a href="#" class="btn">Saiba mais</a>
              </div>
            </div>
            <!-- card-2 -->
            <div class="card-produtor" style="width: 11rem">
              <img
                src="/images/img/produtor-2.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h2 class="card-title">Chacara Sol Nascente</h2>
                <a href="#" class="btn">Saiba mais</a>
              </div>
            </div>
            <!-- card-3 -->
            <div class="card-produtor" style="width: 11rem">
              <img
                src="/images/img/produtor-3.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h2 class="card-title">Fazenda Nova Gaia</h2>
                <a href="#" class="btn">Saiba mais</a>
              </div>
            </div>
          </div> 
        </div>
        
        <!-- fim cards -->
          <%- include('partials/footer.ejs'); %>