<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/produtores.css">
    <title>ProdMarket-Produtores</title>
</head>

<body>
    <div class="container">
        <div class="heading">
          <h1>Produtores</h1>
        </div>
        <hr class="middle" />
        <div class="row">
          <div class="card">
            <div class="card-header">
              <h1>Produtor 1</h1>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
              </p>
              <a href="#" class="btn">Saiba mais</a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h1>Produtor 2</h1>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
              </p>
              <a href="#" class="btn">Saiba mais</a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h1>Produtor 3</h1>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
              </p>
              <a href="#" class="btn">Saiba mais</a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h1>Produtor 4</h1>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
              </p>
              <a href="#" class="btn">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="card">
              <div class="card-header">
                <h1>Produtor 5</h1>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Saiba mais</a>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h1>Produtor 6</h1>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Saiba mais</a>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h1>Produtor 7</h1>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Saiba mais</a>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h1>Produtor 8</h1>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Saiba mais</a>
              </div>
            </div>
          </div>
      </div>
</body>


</html>