<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 <link rel="stylesheet" href="/stylesheet/css/sobrenos.css">
    <title>Sobre Nós</title>

</head>

<body>
    <header>
      
        <div class="menu">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ajuda</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contato</a>
                </li>
              </ul>
        </div>

    </header>
    <main>
         
          <img alt="" src="img/logo-prod_market.png" class="flex-container" style="float:right" width="400" />
        

          <container>
          <h2>SEGURANÇA E PRIVACIDADE</h2>
          <hr width="2" size="100%">

          <h2> POLÍTICA DE PRIVACIDADE GLOBAL - ProdMarket </h2>

          <p>Este documento tem por finalidade estabelecer as regras para tratamento de dados que inclui, exemplificativamente, as operações de coleta,
            produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento,
            eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração dos dados coletados dos
            USUÁRIOS, além do registro de suas atividades, de acordo com as leis aplicáveis.</p>

            <p>Quando o USUÁRIO aceita essa Política de Privacidade confere sua livre e expressa concordância com os termos aqui estipulados.</p>

            <p>1. Glossário</p>

            <p>1.1. Para os fins deste documento, devem ser consideradas as seguintes definições e descrições para seu melhor entendimento: </p>

            <p>Conta: é a forma através da qual o USUÁRIO é representado ao acessar determinadas áreas restritas, funcionalidades exclusivas dos sites,
                aplicativos e serviços oferecidos pelo ProdMarket, geralmente correspondendo a um conjunto de dados que representa o USUÁRIO
                unicamente acrescidos de outros dados relevantes para garantir uma relação mais apropriada e completa do ProdMarket com o USUÁRIO.</p>

            <p>Cookies: pequenos arquivos ou pacotes de dados enviados pelo ProdMarket ao dispositivo do USUÁRIO para identificá-lo e coletar
                informações que auxiliarão o ProdMarket a aprimorar os serviços prestados aos USUÁRIO.</p>

            <p>Credenciais: é o conjunto de dados que o USUÁRIO usa para se autenticar visando acessar determinadas áreas restritas e/ou funcionalidades
                exclusivas dos sites, aplicativos e serviços oferecidos pelo ProdMarket, geralmente sendo representado por login e senha, mas podendo
                contar com outros dados adicionais que auxiliem no processo de autenticação.</p>

            <p>Dados: o conjunto de Dados Anonimizados e Dados Pessoais.</p>

            <p>Dados Anonimizados: são informações que, isoladamente ou em conjunto com outros Dados Anonimizados, não permitem a identificação de
                uma pessoa, considerando a utilização de meios técnicos razoáveis e disponíveis na ocasião de seu tratamento. Podem incluir gênero, idade
                e geolocalização generalizada (como a cidade em que se encontra) e dados estatísticos.</p>

            <p>Dados Pessoais: são informações relacionadas à pessoa natural identificada ou identificável. Podem incluir, por exemplo, nome, endereço,
                e-mail, telefone, número de cartão de débito/crédito, endereço IP e dados de geolocalização.</p>

            <p>Encarregado ou Data Protection Officer (DPO): pessoa (física ou jurídica) indicada pelo ProdMarket responsável por atuar como canal de
                comunicação entre o ProdMarket, o USUÁRIO e autoridades governamentais em assuntos relacionados a essa Política de Privacidade e ao
                uso, coleta e tratamento de Dados pelo ProdMarket.</p>

            <p>ProdMarket: todas as empresas integrantes, afiliadas e subsidiárias controladas pelo grupo econômico UOL, representado pela pessoa
                jurídica UNIVERSO ONLINE S.A. (CNPJ 01.109.184/0001-95).</p>

            <p>Endereço IP: endereço de Internet Protocol associado ao dispositivo usado pelo USUÁRIO. Cada Endereço IP corresponde a um conjunto
                alfanumérico que, junto com outras informações, ajuda a identificar unicamente o dispositivo que o USUÁRIO está usando para acessar a
                internet e, portanto, para acessar sites, aplicativos e serviços prestados pelo ProdMarket.</p>

            <p>Legislação Aplicável: significa a legislação aplicável ao relacionamento entre o ProdMarket e o USUÁRIO, que pode variar por conta de (i)
                local de prestação dos serviços; (ii) local de residência ou moradia de uma das Partes, incluindo o próprio USUÁRIO; (iii) outros fatores
                apontados em legislações específicas. O ProdMarket reforça que detém representação em diversos países, estando sujeito, além da
                legislação brasileira, a diversos outros normativos, dentre os quais o Regulamento Geral de Proteção de Dados - General Data Protection
                Regulation (GDPR), em inglês.</p>

            <p>Logs: registros de atividades dos USUÁRIOS efetuados nos sites, aplicativos e serviços prestados pelo ProdMarket.</p>

            <p>Política de Privacidade: significa, em conjunto, esta Política de Privacidade Global - ProdMarket e seus anexos, bem como demais documentos
                expressamente referenciados nesta Política de Privacidade Global - ProdMarket.</p>

            <p>USUÁRIOS: pessoas que acessam ou interagem com as funcionalidades oferecidas pelos sites, aplicativos e serviços prestados pelo
                ProdMarket. O USUÁRIO deverá ter capacidade legal para aceitar e consentir com a presente Política de Privacidade e demais documentos
                do ProdMarket. Caso não detenha tal capacidade, você declara ter obtido previamente todas as autorizações necessárias para aceitar esta
                Política de Privacidade e demais documentos apresentados pelo ProdMarket.</p>




          
        </conteiner>
    </main>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>