<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 <link rel="stylesheet" href="/stylesheets/css/sobrenos.css">
    <title>Sobre Nós</title>

</head>

<body>
    <header>
      
        <div class="menu">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ajuda</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contato</a>
                </li>
              </ul>
        </div>

    </header>
    <main>
         
          <img alt="" src="img/logo-prod_market.png" class="flex-container" style="float:right" width="400" />
        

          <container>
          <h2>Sobre Nós:</h2>

          <p>Nascida de uma ideia em facilitar o processo de venda B2B, buscando sempre permanecer atualizada e focada no que o mercado necessita de mais ágil, prático e tecnológico. </p><br>
          
          <p>A ProdMarket nasceu grande e com vontade de ser única, ganhando mercado, aprimorando a comunicação entre os clientes e ajudando o vendedor a gerenciar seu negócio.</p><br>
          
          <h2>Porque contratar?</h2>
          
          <p>O Foco da ProdMarket é proporcionar uma experiência amigável, gentil e prática, permitindo que os Clientes e seus Fornecedores utilizem da plataforma como um segundo, senão o principal, canal de compra e venda de insumos para seus negócios locais. </p>
          
          <p>Focada em projetar seu cliente, a plataforma entrega os melhores resultados de busca com os melhores preços, de forma clara e transparente, facilitando o processo de venda e comunicação entre os negociantes.</p>
          
          <p>Determinada em se tornar única no mercado, a plataforma registra seus dados de compras, para que numa compra futura o comprador consiga acessar o histórico de compra e solicitar novo pedido igual ao anterior ou criar um com base no preexistente.</p>
          
          
          <h3>Missão</h3>
          
            <p>Entregar transparência de dados e clareza no processo de compra e venda, facilitando o processo de compra e venda.</p>
          
          <h3>Visão</h3>
          
            <p>Ser a primeira plataforma de compra e vendas inteligente voltada para o público B2B.</p>
          
          <h3>Valores</h3>
          
          <ul>
            <li>Transparência </li>
            <li>Agilidade </li>
            <li>Inteligência </li>
            <li>Integridade </li>
            <li>Segurança</li>
          </ul>	
        </conteiner>
    </main>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>