

<body>
    <header>
      
        <div class="menu">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ajuda</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contato</a>
                </li>
              </ul>
        </div>

    </header>
    <main>
         
          <img alt="" src="img/logo-prod_market.png" class="flex-container" style="float:right" width="400" />
        

          <container>
          <h2>TERMOS E GARANTIAS</h2>
          <hr width="2" size="100%">

            <p>Prezado Cliente,</p>

            <p>Este termo tem como objetivo garantir pelo período de 1 (um) ano, (90 (noventa) dias de prazo determinado por lei e 275
                (duzentos e setenta e cinco) dias de garantia adicional concedida pela ProdMarket) a contar da data de emissão da Nota Fiscal de venda e
                conforme condições descritas abaixo, a qualidade do produto contra defeitos de fabricação que venham a afetar a integridade física e/ou o
                funcionamento do mesmo, durante este período, será submetida sem ônus para o cliente, todas as peças e componentes que apresentarem
                defeitos comprovados de projeto e/ou fabricação.<p/>

            <p><strong> 1. DA GARANTIA</strong></p>

            <p>O produto fica garantido dentro do prazo estipulado contra: Defeitos de Fabricação.</p>

            <p><strong>2. DAS OBRIGAÇÕES</strong></p>

            <p>2.1 Em caso comprovado de defeito de fabricação a ProdMarket tem o dever de reparar os danos o mais breve possível,
                sem custo adicional.</p>

            <p>2.2 A ProdMarket compromete-se em dar início na manutenção e reparos num período de até 7 (sete) dias após
                comprovado o defeito.</p>

            <p>2.3 A ProdMarket reserva-se o direito de alterar, modificar, melhorar ou realizar alterações que julgar necessário, em
                qualquer componente do equipamento, a qualquer tempo, sem aviso prévio, e não assume a responsabilidade de incorporar as alterações
                nos produtos já vendidos.</p>
            
            <p>2.4 A garantia se aplica somente a produtos novos, e não se aplica a quaisquer componentes que tenham sido modificados
                ou sujeitos a mau uso, acidente, negligencia ou abuso.</p>

            <p>2.5 Todas as peças a fim de serem substituídas em garantia deverão ser condicionalmente analisadas por um prévio exame
                de nosso departamento técnico.</p>

            <p><strong>3. DA PERDA DE GARANTIA</strong></p>

            <p>Decorre de perda de garantia, mesmo durante a sua validade, se a avaria é decorrente de:</p>

            <p>3.1 Incompatibilidade ocasionada por produtos adquiridos de terceiros e instalada junto com os produtos da ProdMarket.</p>

            <p>3.2 Defeito proveniente de mau uso, perda das partes, transporte inadequado realizado pelo cliente fora das condições previstas, ou a
                constatação de sinais que evidenciam danos provocados por acidente ou por agente da natureza, tais como:
                queima, quedas, enchentes, furto, depredação, entre outros.</p>

            <p>3.3 O produto for conectado na rede elétrica fora dos padrões especificados.</p>
            
            <p>3.4 Instalação ou manutenção imprópria realizada pelo cliente se for constatado que o equipamento foi aberto/alterado por
                técnico não especializado.</p>

            <p>3.5 Tiver seu circuito elétrico e/ou de segurança original alterado, violado, substituição de peças, consertos ou ajustes
                efetuados por pessoas não autorizadas.</p>

            <p>3.6 Negligência ou imperícia no uso/manuseio inadequado do equipamento indevido aos fins que se destina ou em
                desacordo com a especificação do produto, tais como a identificação de objetos que obstruam a ventilação do equipamento, tendo em vista
                que a boa ventilação é requisito indispensável para a eficiência da maioria dos equipamentos.</p>

            <p>3.7 A reposição ou conserto de um produto não caracteriza nova compra, portanto não sendo motivo de extensão ou
                renovação do prazo de garantia estipulado.</p>

            <p><strong>4. CONSIDERAÇÕES</strong></p>

            <p>A garantia do referido termo está condicionada ao correto manuseio do produto e a concordância com as condições abaixo
                descritas.</p>

            <p>4.1 O produto não deve ser manuseado de forma brusca.</p>

            <p>4.2 Poderão ocorrer variações naturais da coloração na máquina ao longo do tempo, devido à impregnação de agentes
                particulados oriundos de fuligem entre outros.</p>

            <p>4.3 Manutenções periódica e/ou preventiva e ajustes são de responsabilidade do cliente e não são cobertas pela garantia.</p>
          
        </conteiner>
    </main>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>