*{
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .selector-for-some-widget {
    box-sizing: content-box;
  }
body{
    background-color: lightgrey;
    scroll-padding: none;
}

.menu{
    margin-top: 50px;
    font-family: Tahoma;
}
container{
    display: flex;
    flex-wrap: wrap;
}
.box{
    margin-top: 100px;
    margin-left: 50px;
    width: auto;
    height: auto;
    border-radius: 20px;
    
}
.box img{
    width: 100vw; 
    max-width: 100%;
    border-radius: 20px;

    
}
.formLogin{
    border: 1px #246752 solid;
    height: auto; 
    text-align:center;
    margin-top: 100px;
    margin-left: 20px;
    padding-top: 50px;
    border-radius: 20px;
    font-family: Tahoma;
    color: #47967F;
}
.formLogin h2{
    color: #246752;
   
}
a{
    color: #47967F;
}

button {
    margin: auto;
    padding: 5px 15px;
    color: white;
    background-color: #246752;
    border-radius: 5px;
    border: 0;
  }

  @media(max-width:375px){
    .formLogin{
        width: 100%;
    }

  }