<%- include('partials/cabecalho.ejs'); %>

<h1>Produto</h1>
<hr class="middle" />
<div class="card-produto my-5">
    <div class="card-header-produto">
        <h2 class="card-title"><strong>Laranja Pera - CX 15KG</strong></h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <img class="card-img" src="/images/img/laranja_450.jpg" width="450" height="450" />
            </div>
            <div class="text-produto col-6">
                <h1>Chácara Sol Nascente</h1>
                <p>Local: Vargem Grande Paulista/SP</p>
                <p>A laranjeira 'Pera D-6 CNPMF' atende ao mercado de fruta in natura e a indústria - processamento para
                    suco. A planta apresenta porte médio, galhos mais ou menos eretos, circunferência em torno de 15m e
                    diâmetro do tronco (a 30cm do solo) de cerca de 13,5cm. Os frutos são de tamanho médio, sucosos,
                    poucas ou nenhuma sementes (zero a seis) e com peso médio de 200g.</p>
                <p>Codigo do Produto - 235544387</p>
                <h4>R$ 25,00</h4>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <a href="/produto/1" class="button-product">+ Adicionar ao carrinho</a>
    </div>
</div>


<%- include('partials/footer.ejs'); %>