
       <%- include('partials/cabecalho.ejs'); %>

    <main>
         
         

            <h1 class="tituloSobre">SOBRE NÓS</h1>
          <hr width="2" size="100%">
         
          
          <p class="pSobre">Nascida de uma ideia em facilitar o processo de venda B2B, buscando sempre permanecer atualizada e focada no que o mercado necessita de mais ágil, prático e tecnológico. </p>
          
          <p class="pSobre">A ProdMarket nasceu grande e com vontade de ser única, ganhando mercado, aprimorando a comunicação entre os clientes e ajudando o vendedor a gerenciar seu negócio.</p>
          
          <p class="pSobre"><strong>Por quê contratar?</strong></p>
          
          <p class="pSobre">O Foco da ProdMarket é proporcionar uma experiência amigável, gentil e prática, permitindo que os Clientes e seus Fornecedores utilizem da plataforma como um segundo, senão o principal, canal de compra e venda de insumos para seus negócios locais. </p>
          
          <p class="pSobre">Focada em projetar seu cliente, a plataforma entrega os melhores resultados de busca com os melhores preços, de forma clara e transparente, facilitando o processo de venda e comunicação entre os negociantes.</p>
          
          <p class="pSobre">Determinada em se tornar única no mercado, a plataforma registra seus dados de compras, para que numa compra futura o comprador consiga acessar o histórico de compra e solicitar novo pedido igual ao anterior ou criar um com base no preexistente.</p>
          
          
          <p class="pSobre"><strong>Missão</strong></p> 

          <p class="pSobre">Entregar transparência de dados e clareza no processo de compra e venda, facilitando o processo de compra e venda.</p>
          
          <p class="pSobre"><strong>Visão</strong></p>
          
            <p class="pSobre">Ser a primeira plataforma de compra e vendas inteligente voltada para o público B2B.</p>
          
            <p class="pSobre"><strong>Valores</strong></p>
          
          <ul class="ulSobre">
            <li>Transparência </li>
            <li>Agilidade </li>
            <li>Inteligência </li>
            <li>Integridade </li>
            <li>Segurança</li>
          </ul>	
       
    </main>
  

    <%- include('partials/footer.ejs'); %>