.menu{
    margin-top: 50px;
    font-family: Tahoma;
}
.container-login{
    display: block;
    flex-wrap: wrap;
}
.box{
    margin-top: 5px;
    margin-left: 30px;
    width: auto;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
  }
  .box img{
    height: 100%; 
    border-radius: 20px;
  
    
  }
  .form-login{
    border: 1px #246752 solid;
    width: 100%; 
    text-align:left;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    font-family: Tahoma;
    color: #246752;
  }
  .form-login h2{
    color: #246752;
    font-size: 16px;
    padding-bottom: 20px;
   
  }
  
  .form-login a{
    color: #246752;
    text-decoration: underline;
  }
  .input-login{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #dddddd;
    border: 0;
  }

  button {
    margin: auto;
    padding: 5px 15px;
    color: white;
    background-color: #246752;
    border-radius: 5px;
    border: 0;
  }

  @media(max-width:375px){

    .form-Login{
        width: 100%;
    }

  }