
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #68b4a6;
    height: 700px;
    text-align: justify;
    font-style: normal;
    width: auto;
     border: 15px #68b4a6;
     padding: auto;
     margin-right: 40px;
     margin: 25px;
     background-color: lightgrey;
}
    
    

h2{
    font-size: 20px;
    color: #68b4a6;
    font-style: bold;
    margin-left: 40px;
}


h3{
    font-size: 18px;
    color: #68b4a6;
    font-style: bold;
    margin-left: 40px;
}


p{
    font-size: 16px;
    color: #68b4a6;
    margin-left: 70px;
    margin-right: 500px;
}

ul{
    color: #68b4a6;
}
img{
    margin-right: auto;
}

imgbox{
    margin-right: 80;
}