<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ProdMarket</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/css/home.css" />
    <link rel="stylesheet" href="stylesheets/css/cadastro.css" />
    <link rel="stylesheet" href="stylesheets/css/style-contato.css" />
    <link rel="stylesheet" href="stylesheets/css/login.css" />
    <link rel="stylesheet" href="stylesheets/css/parceiros.css" />
    <link rel="stylesheet" href="stylesheets/css/sobrenos.css" />
    <link rel="stylesheet" href="stylesheets/css/cadastro.css" />
    <link rel="stylesheet" href="stylesheets/css/faq.css" />
    <link rel="stylesheet" href="stylesheets/css/produto.css" />
    <link rel="stylesheet" href="stylesheets/css/footer.css" />
    <link rel="stylesheet" href="stylesheets/css/carrinho.css" />
    


</head>

<body>
    <!-- inicia menu cabeçalho  -->
   
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-12">
                    <div class="bs-example">
                        <nav class="navbar navbar-expand-md navbar-light ">
                            <a href="/" class="navbar-brand"><img src="/images/img/logo-prod_market.png" width="80px" 
                                    height="60px"></a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav">
                                    <a href="/" class="nav-item nav-link active">Início</a>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Serviços</a>
                                        <div class="dropdown-menu">
                                            <li><a href="editar_produto" style="color: black;">Edição de Produtos</a>
                                            </li>
                                            <li><a href="cadastro_produto" style="color: black;">Cadastrar Produtos</a>
                                            </li>
                                        </div>
                                    </div>
                                    <a href="#" class="nav-item nav-link">Minha Loja</a>
                                </div>
                                <form class="form-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Procurar">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>

                                <div class="navbar-nav">
                                    <ul class="nav navbar-nav navbar-right">

                                        <li><a href="#" class="messages" style="color: #47967f;"><i
                                                    class="fa fa-envelope-o"></i><span class="badge">10</span></a>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action"
                                                style="color: #47967f;">
                                                <div class="fotoPerfil avatar" alt="Avatar"><img src="/uploads/<%= usuario.imagem %>" style=border-radius:50px;>
                                                    
                                                </div><b><a><%= usuario.nome %><b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="editar_cadastro" style="color: #47967f;"><i
                                                            class="fa fa-user-o"></i> Perfil</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="logout" style="color: #47967f;"><i class="fa fa-power-off"></i>
                                                        Sair</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="carrinho" class="notifications" style="color: #47967f;"><i
                                                    class="fa fa-shopping-cart"
                                                    style="font-size: 30px;color: #246752;"></i><span
                                                    class="badge">1</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
        
    

    <!-- fim menu cabeçalho -->
  
    <div class="container">